
{block navigation}
    <header>
        <nav>
            <a n:href="Player:default">HOME</a>
            <!--|
            <a href="/html/">HTML</a> |
            <a href="/css/">CSS</a> |
            <a href="/js/">JavaScript</a> |
            <a href="/jquery/">jQuery</a>
            -->
        </nav>
    </header>
{/block}


{block playlist}




    {include form}
{/block}


{block form}
    <h2>Upravit příspěvek</h2>
    {control commentForm}
{/block}


